/*
 font-family: "Roboto",  sans-serif;

 .roboto-light {
     font-family: "Roboto", sans-serif;
     font-weight: 300;
     font-style: normal;
 }

 .roboto-regular {
     font-family: "Roboto", sans-serif;
     font-weight: 400;
     font-style: normal;
 }

 .roboto-bold {
     font-family: "Roboto", sans-serif;
     font-weight: 700;
     font-style: normal;
 }
*/

.caja {
    width: 300px;
    height: 300px;
    /* background-color: yellow; */
    padding: 30px;
    background: rgb(6, 150, 227);
    background: linear-gradient(180deg, rgba(6, 150, 227, 1) 15%, rgba(0, 212, 255, 1) 60%);
    box-shadow: 0px 0px 5px black;
    /* eje X - eje Y - desenfoque - color de la sombra  */
    border-radius: 50px;
    border-radius: 50px 10px;
    border-radius: 50px 10px 25px;
    border-radius: 50px 10px 25px 35px;
}

.texto{
    background-color: aquamarine;
    column-count: 3;
    column-gap: 50px;
    /* column-rule: 5px solid red; */
}

.texto p {
    margin: 0;
}


h1{
    font-family: "Roboto", sans-serif;
    color: red;
    font-size:100px ;
}

.estrella {
    color: blue;
    font-size: 20px;
}
